*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}
body{
    background-color: #161922;
    font-family: ;
    color: #f4f7f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}.header nav {
    height: 80px;
    width: 100%;
    /* background: #191d28 ; */
}
.header .logo {
    font-size: 35px;
    font-weight: bold;
    color: #fcd07a;
    line-height: 80px;
    padding: 0 10%;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    color: #fcd07a;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid #fcd07a;
    transform: .5s;
}
nav #icon {
    color: #fcd07a;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#home {
    /* width: 100%; */
    background-color: #191d28;
    display: flex;
    /* height: 60vh; */
    align-items: center;
    padding: 0 10%;
}
.home-content {
    /* max-width: 100%; */
}
.home-content h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 2px;
    line-height: 1.2;
}
.home-content .umer{
    color:#fcd07a ;
}
.home-content h3 {
    font-size: 20px;
    font-weight: 400;
    color:#fcd07a ;
    
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;

}
.btn-section {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    
}
.btn-section a{
    width: 150px;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #fcd07a ;
    border: 2px solid #fcd07a ;
    font-size: 20px;
    font-weight: 500;
}
.btn-section a:hover {
    background-color: #fcd07a;
    color:#f4f7f8 ;
    /* border-style: none; */
    transition: .6s;
}
.home-sci {
    position: relative;
    bottom: 20px;
    width: 150px;
    background-color: transparent;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}
.home-sci a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #fcd07a;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fcd07a;
}
.home-sci a:hover {
    color: #f4f7f8;
    background-color: #fcd07a;
    transition: .5s;
}
.home-img {
    margin: 0.5% 10% 0.5% 0;
    /* background-color: aliceblue; */
}
.home-img:hover {
    background: #161922;
    transition: 0.8s;
    opacity: .8;
}
#about{
    background-color: #161922;
    display: flex;
    flex-direction: row-reverse;
    height: 50vh;
    align-items: center;
    padding: 0 10%;
}
#services {
    background-color: #191d28;
    display: flex;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* height: 50vh; */
    /* align-items: center; */
    padding: 0 10%;
    margin: 20px;
    /* width: 100%; */
}
.service-content {
    margin-top: 20px;
}
.service-content h1 {
    font-size: 45px;
    font-weight: 900;
    color: #fcd07a;
    margin-top: 20px;
}
.service-content p {
    font-size: 15px;
}
.service-section{
    display: flex;
    margin-top: 20px;
    /* background-color: black; */
    /* justify-content: space-around; */
    justify-content: space-around;

}
.service1 {
    margin: 20px;
    padding: 60px;
    width: 250px;
    height: 250px;
    /* justify-content: center;
    align-items: center; */
    border-radius: 20px;
    background-color: #161922;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.service2 {
    margin: 20px;
    width: 250px;
    padding: 60px;
    height: 250px;
    border-radius: 20px;
    background-color: #161922;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.service3 {
    margin: 20px;
    padding: 60px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #161922;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.service1 .service1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service1 .service1-content h1 {
    padding: 100px 10px 10px 10px;
    color: #fcd07a;
}
.service1 .service1-content p{
    font-size: 11px;
    padding: 10px;
}
.service2 .service2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service2 .service2-content h1 {
    padding: 100px 10px 10px 10px;
    color: #fcd07a;
}
.service2 .service2-content p{
    font-size: 11px;
    padding: 10px;
}
#skills{
    background-color: #161922;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    padding: 0 10%;
}
.skills-content h1 {
    color: #fcd07a;
    font-size: 45px;
    font-weight: 900;
}
.container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-section {
    width: 500px;
    background-color: #191d28;
    padding: 30px 30px 50px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.skills-section *{
    color: #f4f7f8;
    font-weight: 500;
}
.skills-section h1{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;

    border: 2px solid #fcd07a;

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #fcd07a;


}
.all-skills:not(:last-child){
    margin-bottom: 30px;
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#javascript-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 72%;
    }
}
#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 62%;
    }
}
  @media (min-width: 992px) {
    /* Adjust styles for desktop screens */
    .home-content h1 {
      font-size: 32px;
    }
  
    .home-content h3 {
      font-size: 28px;
    }
  
    .home-content p {
      font-size: 22px;
    }
  
    .btn {
      font-size: 28px;
      padding: 14px 28px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .home-content h1 {
        font-size: 24px;
      }
    
      .home-content h3 {
        font-size: 22px;
      }
    
      .home-content p {
        font-size: 16px;
      }
    
      .btn {
        font-size: 16px;
        /* padding: 10px 22px; */
      }
}
@media (min-width: 500px) and (max-width: 767px) {
    .home-content h1 {
        font-size: 20px;
      }
    
      .home-content h3 {
        font-size: 18px;
      }
    
      .home-content p {
        font-size: 13px;
      }
    
      .btn {
        font-size: 13px;
        /* padding: 10px 22px; */
      }
}
@media (max-width: 499px) {
    #home {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        background-color: none;
        margin-left: 20%;
    }
    #home .home-content {
        justify-content: center;
        margin-top: 80px;
        /* padding: 50px; */
    }
    .home-content h1 {
        font-size: 28px;
        margin-left: 40px;
      }
    
      .home-content h3 {
        font-size: 24px;
        margin-left: 40px;
      }
    
      .home-content p {
        font-size: 18px;
        margin-left: 40px;
      }
    
      .btn {
        font-size: 14px;
        margin-left: 40px;
        /* padding: 10px 22px; */
      }
      .home-img img {
        
      }
      #about {
        background-color: #161922;
        display: flex;
        flex-direction: row-reverse;
        height: 50vh;
        align-items: center;
        padding: 0 10%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
    }
    #services {
        margin-top: 260px;
        width: 100%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
    }
    .service-content h1 {
        margin-left: 40px;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .service-content p {
        font-size: 18px;
        margin-left: 40px;

    }
    .service-section {
        display: flex;
        flex-direction: column;

    }
    #skills {
        width: 100%;
        margin-left: 20%;
    }
    .skills-content h1 {
        margin-left: 40px;
        font-size: 28px;
    }
    @media (max-width: 1048px) {
        label.logo{
            font-size: 32px;
            padding-left: 60px;
        }
        nav ul{
            margin-right: 20px;
        }
        nav a {
            font-size: 17px;
        }    
    }
    @media (max-width: 909px) {
        nav #icon {
            display: block;
            margin-left: 180px;
        }
        nav ul {
            position: fixed;
            height: 100%;
            background: #161922;
            width: 100%;
            top: 80px;
            left: 0;
            text-align: center  ;
            transition: all .5s;
        }
        nav li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }  
        nav a {
            font-size: 20px;
        }
        a.active,a:hover {
            border: none;
            color: #f4f7f8;
        }    
        nav ul.show{
            left: 0;
        }  
    }